.less-important-text {
    -fx-font-size: 10px;
    -fx-text-fill: #777; /* szary kolor, by podkreślić mniejsze znaczenie */
}

.image-button {
    -fx-background-color: transparent;         /* brak tła przycisku */
    -fx-padding: 0;                            /* usunięcie wewnętrznego marginesu */
    -fx-border-color: transparent;            /* brak ramki */
    -fx-background-radius: 0;                 /* brak zaokrągleń */
    -fx-border-radius: 0;
}

.image-button > .graphic {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-max-width: 200px;                     /* maksymalny rozmiar */
    -fx-max-height: 200px;
}
.button.flat-button {
    -fx-background-color: #e0e0e0; /* jasnoszary */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-padding: 5 10;
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-effect: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}



.gray-background {
    -fx-background-color: #d3d3d3; /* jasnoszary, ale nie za jasny */
}

.dark-panel {
    -fx-background-color: #1e1e1e; /* ciemny grafit, nieco jaśniejszy niż #121212 */
    -fx-padding: 10px;
    -fx-border-color: #333333;     /* delikatna ramka, dla lepszego kontrastu */
    -fx-border-width: 1px;
}


.toggle-button:selected {
    -fx-background-color: lightgreen ;
    -fx-border-color: green ;
    -fx-border-width: 2px ;
}


.flat-button:selected {
    -fx-background-color: lightgreen ;
    -fx-border-color: green ;
    -fx-border-width: 2px ;
}
